  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/lib/bootstrap.min.css">
  <script src="/lib/jquery-1.12.2.min.js"></script>
  <script src="/lib/bootstrap.min.js"></script>
<div class="row">
  {{#each estrellas}}
  <div class="col-sm-3">
    <div class="card mb-3" style="width:18rem;">
      <img class="card-img-top" src="{{imagen}}" alt="Catalogo" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">{{nombre}}</h4>
          <p class="card-text">{{tipo}}</p>
          <a href="#demo" class="btn btn-info" data-toggle="collapse">Mostrar todo</a>

<!--          <form action="eliminar/{{_id}}?_method=DELETE" method='POST' >
            <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class = "btn btn-success" > Actualizar</button>
         </form>
-->         
          <form action="eliminar/{{_id}}?_method=DELETE" method='POST' >
            <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class = "btn btn-danger" > Eliminar</button>
         </form>

         <div id="demo" class="collapse">
           <p class="text">Tamaño: {{tamaño}}</p>
           <p class="text">Brillo: {{brillo}}</p>
           <p class="text">Color: {{color}}</p>
           <p class="text">Temperatura: {{temperatura}}</p>
           <p class="text">Edad: {{edad}}</p>
         </div>

      </div>
    </div>
  </div>
  {{/each}}
</div>
